.imgHolder{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(7, 61, 141) 100%);
   
display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    z-index: 0;
}
.imgHolder img{
    cursor: pointer; 
    width: 90%;
    z-index: 1;
}
#riven{
    bottom: 5%;
    left: 58%;
    position: absolute;
    height: 42%;
    width: 9%;
}
#akali{
    bottom: 43%;
   
    left: 24%;
    position: absolute;
    height: 4%;
    width: 3%;
}
#nocturne{
    bottom: 55%;
    left: 84%;
    position: absolute;
    height: 8%;
    width: 9%
}
#vladimir{
    bottom: 5%;
    left: 80%;
    position: absolute;
    height: 45%;
    width: 9%;
}
#ziggs{
    bottom: 65%;
    left: 42%;
    position: absolute;
    height: 4%;
    width: 2%;
}
.champOnTheBoard{
    cursor: pointer;
    z-index: 2;
}
a{
    text-decoration: none;
    width: 100%;
}