@keyframes rotate {
    from{
        transform: rotate3d(0,0,0,0deg);
    }
    to{
        transform: rotate3d(0,1,0,180deg);
        opacity: 0.4;
    }
}
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

header{
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(7, 61, 141) 100%)
    ;
    display: flex;
    flex-wrap: wrap;
    height: 35vh;
    justify-content: space-around;

    margin: 0;
    width: 100%;
}
header h1{
    color: wheat;
    cursor: pointer;
    font-family: 'Handjet', cursive;
    font-size: 70px;
    margin: 0;
}

#leaderboardButton{
    background-color: rgb(2, 2, 59);
    border: none;
    border-radius: 10px;
    color: wheat;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Lilita One', cursive;
    height: 30%;
    width: 10%;
}
#leaderboardButton:hover{
    background-color: rgb(3, 3, 141);
}
.championsBasket{
    align-items: center;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-left: 10px solid rgb(255, 255, 255);
    border-right: 10px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 10px;
    width: 70%;
}
.championsBasket li{
    
    width: 20%;

}
.championsBasket li img{
    cursor: pointer;
    height: 100%;
    opacity: 1;
    width: 100%;
    z-index: 0;
}
.championsBasket li img:hover{
    opacity: 0.3;
}
.glass{
    
    height: 20%;
    position: relative;
    width: 60%;
    z-index: 1;
}
.glass h3{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.212);
    color: white;
    display: flex;
 
    justify-content: center;
    font-family: 'Handjet', cursive;
    font-size: 30px;
    position: absolute;
    
    opacity: 0;
    width: 100%;
    z-index: 2;

}
.rotate{
animation-name: rotate;
animation-duration: 4s;
animation-fill-mode: forwards;
}
.show{
animation-name: show;
animation-delay: 4s;
animation-duration: 1s;
animation-fill-mode: forwards;
}

.hidden{
    display: none;
}
