#leaderBoard{
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(7, 61, 141) 100%)
    ;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#leaderBoard ul{
    margin: 0;
   
}
#leaderBoard h2{
    border-bottom: 3px solid wheat;
    padding-bottom: 10px;
    color: wheat;
    font-size: 60px;
    text-shadow: 5px 5px 5px black;
}
#leaderBoard h3{
    color: rgb(241, 230, 210);
}
#leaderBoard .user::marker{
    color: whitesmoke;
    font-size: 25px;


}

#leaderBoard ol p{
    color: rgb(218, 107, 107);
    font-size: 20px;
}

